<main>



<header class="d-flex align-items-center justify-content-center position-fixed">
    <img src="https://i.imgur.com/dDC1Y10.png" alt="" width="200px">
</header>

  <h2 class="text-center mb-5">Nome do Aluno</h2>

<div class="container ">
  <div class="row d-flex justify-content-center">


    <div class="col-md-4">


      <div class="list-group w-100">
        <a href="#" class="list-group-item list-group-item-action bg-color-tiradentes text-white p-2">
          Nome
        </a>
        <a href="#" class="list-group-item list-group-item-action pl-2 pr-2 pt-3">Desenvolvimento em Java</a>
        <a href="#" class="list-group-item list-group-item-action pl-2 pr-2 pt-3">UX UI Design</a>
        <a href="#" class="list-group-item list-group-item-action pl-2 pr-2 pt-3">Spring Boot com Microservices</a>
        <a href="#" class="list-group-item list-group-item-action pl-2 pr-2 pt-3">Angular + Spring Boot</a>
      </div>


    </div>
    <div class="col-md-3">


      <div class="list-group w-100">
        <a href="#" class="list-group-item list-group-item-action bg-color-tiradentes text-white p-2 ">
          Tipo
        </a>
        <span class="list-group-item list-group-item-action pl-2 pr-2 pt-3 ">Programação</span>
        <span class="list-group-item list-group-item-action pl-2 pr-2 pt-3 ">Designer</span>
        <span class="list-group-item list-group-item-action pl-2 pr-2 pt-3 ">Programação</span>
        <span class="list-group-item list-group-item-action pl-2 pr-2 pt-3 ">Programação</span>
      </div>


    </div>
    <div class="col-md-2">


      <div class="list-group w-100">
        <a href="#" class="list-group-item list-group-item-action bg-color-tiradentes text-white p-2 ">
          Horas
        </a>
        <span class="list-group-item list-group-item-action text-center pl-2 pr-2 pt-3"> 8 Horas </span>
        <span class="list-group-item list-group-item-action text-center pl-2 pr-2 pt-3"> 12 Horas </span>
        <span class="list-group-item list-group-item-action text-center pl-2 pr-2 pt-3"> 6 Horas </span>
        <span class="list-group-item list-group-item-action text-center pl-2 pr-2 pt-3"> 42 Horas </span>
      </div>


    </div>
    <div class="col-md-3">


      <div class="list-group w-100">
        <a href="#" class="list-group-item list-group-item-action bg-color-tiradentes text-white p-2">
          Status
        </a>
        <span  class="list-group-item list-group-item-action pl-2 pr-2 pt-3 text-center ">Homologado</span>
        <span  class="list-group-item list-group-item-action pl-2 pr-2 pt-3 text-center ">Homologado</span>
        <span  class="list-group-item list-group-item-action pl-2 pr-2 pt-3 text-center ">Não Homologado</span>
        <span  class="list-group-item list-group-item-action pl-2 pr-2 pt-3 text-center ">Homologado</span>
      </div>


    </div>

  </div>
</div>

</main>
